<p id="notice"><%= notice %></p>

<p>
  <strong>Day:</strong>
  <%= @work_log.day %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @work_log.hours %>
</p>

<%= link_to 'Edit', edit_project_work_log_url(@work_log) %> |
<%= link_to 'Back', project_work_logs_url %>
